<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letv.vrs.dao.mapper.IAlbumMapper">
    <resultMap id="baseResultMap" type="com.letv.vrs.dao.domain.AlbumDomain">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="property" property="property" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="tag" property="tag" jdbcType="VARCHAR"/>
        <result column="keyword" property="keyword" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="INTEGER"/>
        <result column="category_attr" property="categoryAttr" jdbcType="VARCHAR"/>
        <result column="horizontal_poster" property="horizontalPoster" jdbcType="VARCHAR"/>
        <result column="vertical_poster" property="verticalPoster" jdbcType="VARCHAR"/>
        <result column="banner" property="banner" jdbcType="VARCHAR"/>
        <result column="order_by" property="orderBy" jdbcType="INTEGER"/>
        <result column="cp_type" property="cpType" jdbcType="VARCHAR"/>
        <result column="block_type" property="blockType" jdbcType="INTEGER"/>
        <result column="free_status" property="freeStatus" jdbcType="INTEGER"/>
        <result column="free_type" property="freeType" jdbcType="INTEGER"/>
        <result column="if_assign_auth" property="ifAssignAuth" jdbcType="INTEGER"/>
        <result column="auth_platform" property="authPlatform" jdbcType="VARCHAR"/>
        <result column="play_mode" property="playMode" jdbcType="INTEGER"/>
        <result column="auth_type" property="authType" jdbcType="INTEGER"/>
        <result column="disable_type" property="disableType" jdbcType="INTEGER"/>
        <result column="control_areas" property="controlAreas" jdbcType="VARCHAR"/>
        <result column="download_platform" property="downloadPlatform" jdbcType="VARCHAR"/>
        <result column="play_platform" property="playPlatform" jdbcType="VARCHAR"/>
        <result column="director" property="director" jdbcType="VARCHAR"/>
        <result column="actor" property="actor" jdbcType="VARCHAR"/>
        <result column="scriptwriter" property="scriptwriter" jdbcType="VARCHAR"/>
        <result column="create_uid" property="createUid" jdbcType="INTEGER"/>
        <result column="utime" property="utime" jdbcType="TIMESTAMP"/>
        <result column="ctime" property="ctime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="returnField">
        id,title,description,create_time,property,status,tag,keyword,category,category_attr,horizontal_poster,vertical_poster,banner,order_by,cp_type,create_uid,utime,block_type,free_status,free_type,if_assign_auth,auth_platform,play_mode,auth_type,disable_type,control_areas,download_platform,play_platform,director,actor,scriptwriter,ctime
    </sql>

    <select id="getByIds" resultMap="baseResultMap">
        SELECT
        <include refid="returnField"></include>
        FROM t_vrs_album
        WHERE id in
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getByName" parameterType="java.lang.String" resultMap="baseResultMap">
        SELECT
        <include refid="returnField"></include>
        FROM T_VRS_ALBUM
        WHERE name LIKE "%"#{keyword}"%"
    </select>

    <select id="getList" resultMap="baseResultMap">
        SELECT
        <include refid="returnField"></include>
        FROM t_vrs_album
        ORDER BY id DESC
    </select>

    <select id="getListByCategory" resultMap="baseResultMap">
        SELECT
        <include refid="returnField"></include>
        FROM t_vrs_album WHERE category = #{category}
        ORDER BY id DESC
    </select>

    <!--存在则更新否则插入-->
    <update id="update" parameterType="com.letv.vrs.dao.domain.AlbumDomain">
        INSERT INTO t_vrs_album
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="property != null">
                property,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="tag != null">
                tag,
            </if>
            <if test="keyword != null">
                keyword,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="categoryAttr != null">
                category_attr,
            </if>
            <if test="horizontalPoster != null">
                horizontal_poster,
            </if>
            <if test="verticalPoster != null">
                vertical_poster,
            </if>
            <if test="banner != null">
                banner,
            </if>
            <if test="orderBy != null">
                order_by,
            </if>
            <if test="cpType != null">
                cp_type,
            </if>
            <if test="blockType != null">
                block_type,
            </if>
            <if test="freeStatus != null">
                free_status,
            </if>
            <if test="freeType != null">
                free_type,
            </if>
            <if test="ifAssignAuth != null">
                if_assign_auth,
            </if>
            <if test="authPlatform != null">
                auth_platform,
            </if>
            <if test="playMode != null">
                play_mode,
            </if>
            <if test="authType != null">
                auth_type,
            </if>
            <if test="disableType != null">
                disable_type,
            </if>
            <if test="controlAreas != null">
                control_areas,
            </if>
            <if test="downloadPlatform != null">
                download_platform,
            </if>
            <if test="playPlatform != null">
                play_platform,
            </if>
            <if test="director != null">
                director,
            </if>
            <if test="actor != null">
                actor,
            </if>
            <if test="scriptwriter != null">
                scriptwriter,
            </if>
            <if test="createUid != null">
                create_uid,
            </if>
            <if test="utime != null">
                utime,
            </if>
            <if test="ctime != null">
                ctime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="property != null">
                #{property},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="tag != null">
                #{tag},
            </if>
            <if test="keyword != null">
                #{keyword},
            </if>
            <if test="category != null">
                #{category},
            </if>
            <if test="categoryAttr != null">
                #{categoryAttr},
            </if>
            <if test="horizontalPoster != null">
                #{horizontalPoster},
            </if>
            <if test="verticalPoster != null">
                #{verticalPoster},
            </if>
            <if test="banner != null">
                #{banner},
            </if>
            <if test="orderBy != null">
                #{orderBy},
            </if>
            <if test="cpType != null">
                #{cpType},
            </if>
            <if test="blockType != null">
                #{blockType},
            </if>
            <if test="freeStatus != null">
                #{freeStatus},
            </if>
            <if test="freeType != null">
                #{freeType},
            </if>
            <if test="ifAssignAuth != null">
                #{ifAssignAuth},
            </if>
            <if test="authPlatform != null">
                #{authPlatform},
            </if>
            <if test="playMode != null">
                #{playMode},
            </if>
            <if test="authType != null">
                #{authType},
            </if>
            <if test="disableType != null">
                #{disableType},
            </if>
            <if test="controlAreas != null">
                #{controlAreas},
            </if>
            <if test="downloadPlatform != null">
                #{downloadPlatform},
            </if>
            <if test="playPlatform != null">
                #{playPlatform},
            </if>
            <if test="director != null">
                #{director},
            </if>
            <if test="actor != null">
                #{actor},
            </if>
            <if test="scriptwriter != null">
                #{scriptwriter},
            </if>
            <if test="createUid != null">
                #{createUid},
            </if>
            <if test="utime != null">
                #{utime},
            </if>
            <if test="ctime != null">
                #{ctime},
            </if>
        </trim>
        <trim prefix="ON DUPLICATE KEY UPDATE " suffixOverrides=",">
            <if test="title != null">
                title=#{title},
            </if>
            <if test="description != null">
                description=#{description},
            </if>
            <if test="createTime != null">
                create_time=#{createTime},
            </if>
            <if test="property != null">
                property=#{property},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="tag != null">
                tag=#{tag},
            </if>
            <if test="keyword != null">
                keyword=#{keyword},
            </if>
            <if test="category != null">
                category=#{category},
            </if>
            <if test="categoryAttr != null">
                category_attr=#{categoryAttr},
            </if>
            <if test="horizontalPoster != null">
                horizontal_poster=#{horizontalPoster},
            </if>
            <if test="verticalPoster != null">
                vertical_poster=#{verticalPoster},
            </if>
            <if test="banner != null">
                banner=#{banner},
            </if>
            <if test="orderBy != null">
                order_by=#{orderBy},
            </if>
            <if test="cpType != null">
                cp_type=#{cpType},
            </if>
            <if test="blockType != null">
                block_type=#{blockType},
            </if>
            <if test="freeStatus != null">
                free_status=#{freeStatus},
            </if>
            <if test="freeType != null">
                free_type=#{freeType},
            </if>
            <if test="ifAssignAuth != null">
                if_assign_auth=#{ifAssignAuth},
            </if>
            <if test="authPlatform != null">
                auth_platform=#{authPlatform},
            </if>
            <if test="playMode != null">
                play_mode=#{playMode},
            </if>
            <if test="authType != null">
                auth_type=#{authType},
            </if>
            <if test="disableType != null">
                disable_type=#{disableType},
            </if>
            <if test="controlAreas != null">
                control_areas=#{controlAreas},
            </if>
            <if test="downloadPlatform != null">
                download_platform=#{downloadPlatform},
            </if>
            <if test="playPlatform != null">
                play_platform=#{playPlatform},
            </if>
            <if test="director != null">
                director=#{director},
            </if>
            <if test="actor != null">
                actor=#{actor},
            </if>
            <if test="scriptwriter != null">
                scriptwriter=#{scriptwriter},
            </if>
            <if test="createUid != null">
                create_uid=#{createUid},
            </if>
            <if test="utime != null">
                utime=#{utime},
            </if>
            <if test="ctime != null">
                ctime=#{ctime},
            </if>
        </trim>
    </update>
</mapper>
